[Unit]
Description=ASUS camera privacy LED
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/usr/bin/modprobe asus-camled
ExecStart=/usr/local/bin/camled.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target